@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'Pattaya';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pattaya/v6/ea8ZadcqV_zkHY-XBcOt9lZE.woff2)
      format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }
}
@layer components {
    .btn-primary {
        @apply w-[300px] text-center bg-red-200;
    }
}
